/* General Styles */
body {
    font-family: "Beaufort for LOL Bold";
    background-color: #0f0f0f;
    color: #c4b998;
}

h1, h2, h3, h4, h5, h6, p, table, ul {
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 20px;
    text-align: center;
}

/* Form Styles in Header */
header form {
    display: flex;
    gap: 10px;
}

header form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

header form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(44, 140, 194);
    color: #111;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

header form button:hover {
    background-color: rgb(11, 196, 226);
}

/* Main Styles */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    
}

/* Section Styles */
/* Section Styles */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Add position relative to the section */
    overflow: hidden; /* Ensure the pseudo-element stays within section */
}

/* Light reflection effect */
section::before {
    content: '';
    position: absolute;
    top: -90%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, transparent 80%);
    transition: all 0.5s ease;
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with pointer events */
    transform: translate(-50%, -50%) rotate(45deg); /* Initial position */
}

/* Hover effect */
section:hover::before {
    transform: translate(150%, 150%) rotate(45deg); /* Move pseudo-element diagonally */
}




/* List Styles */
ul {
    list-style-type: none;
}
/* Image Styles */
.player-image img, .champion-image img, .rank-image {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff; /* Added border */
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.1); /* Added shadow */
    animation: fadeIn 1s ease-in-out forwards; /* Added animation */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* .player-image img:hover, .champion-image img:hover, .rank-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 6px rgba(255, 255, 255, 0.3); /* Increased shadow on hover */
/* } */ 



/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* Button Styles */
form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative; /* Add position relative to the button */
    overflow: hidden; /* Ensure the pseudo-element stays within button */
}

/* Light reflection effect */
form button::before {
    content: '';
    position: absolute;
    top: -60%;
    left: -70%;
    width: 200%;
    height: 200%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, transparent 80%);
    transition: all 0.5s ease;
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with pointer events */
    transform: translate(-50%, -50%) rotate(45deg); /* Initial position */
}

/* Hover effect */
form button:hover::before {
    transform: translate(150%, 150%) rotate(45deg); /* Move pseudo-element diagonally */
}


form button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

